<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>

    <style>
        .auth-container {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .auth-container button {
            margin-left: 10px;
            padding: 5px 10px;
        }
    </style>
    <script>
        async function checkSpelling() {
            const title = document.getElementById('title').value;
            const content = document.getElementById('content').value;

            const resultDiv = document.getElementById('result');
            resultDiv.innerHTML = '';

            await checkFieldSpelling(title, 'Название', 'title', resultDiv);
            await checkFieldSpelling(content, 'Содержание', 'content', resultDiv);

        }

        async function checkFieldSpelling(content, fieldName, fieldId, resultDiv) {
            const response = await fetch(`/check?text=${encodeURIComponent(content)}`);
            const errors = await response.json();

            if (errors.length === 0) {
                resultDiv.innerHTML += `<p>${fieldName}: ошибок не найдено</p>`;
                return;
            }
            errors.forEach((error) => {
                const errorDiv = document.createElement('div');
                errorDiv.innerHTML = `Ошибка в ${fieldName}: <strong>${error.word}</strong>`;

                const select = document.createElement('select');

                error.s.forEach((suggestion) => {
                    const option = document.createElement('option');
                    option.value = suggestion;
                    option.text = suggestion;
                    select.appendChild(option);
                });

                errorDiv.appendChild(select);
                resultDiv.appendChild(errorDiv);
            })
        }

    </script>
</head>
<body>

<div class="auth-container">
    {{if .Username}}
    <p>Привет, {{.Username}}!</p>
    <form action="/logout" method="post">
        <button type="submit">Выйти</button>
    </form>
    {{else}}
    <form action="/signup" method="get" style="display: inline;">
        <button type="submit">Регистрация</button>
    </form>
    <form action="/login" method="get" style="display: inline;">
        <button type="submit">Вход</button>
    </form>
    {{end}}
</div>

    <h1>Заметки</h1>
    <form action="/add" method="post">
        <label for="title">Название заметки:</label>
        <input type="text" id="title" name="title" required>
        <label for="content">Содержание заметки:</label>
        <textarea id="content" name="content" required></textarea><br>
        <button type="submit">Добавить заметку</button>
    </form>
    <button onclick="checkSpelling()">Проверить орфографию</button>
    <div id="result"></div><br>

    <h2>Существующие заметки</h2>
    {{range .Notes}}
    <div>
        <h3>{{.Title}}</h3>
        <p>{{.Content}}</p>
        <form action="/delete" method="post" style="display: inline;">
            <input type="hidden" name="id" value="{{.ID}}">
            <button type="submit">Удалить</button>
        </form>
    </div>
    {{else}}
    <p>Нет существующих заметок</p>
    {{end}}
</body>
</html>